/* styles.css */

body {
    background-color: #001f3f; /* Dark blue background color */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #01FF70; /* Green text color */
    font-size: 48px; /* Larger font size */
    text-align: center;
    margin-top: 30vh; /* 30% from the top */
    margin-bottom: 0; /* No margin at the bottom */
}

p {
    color: #01FF70; /* Green text color */
    font-size: 20px;
    text-align: center;
    margin-top: 0; /* No margin at the top */
    margin-bottom: 70vh; /* 70% from the bottom */
}
